<p-table #currenciesTable [value]="currencies" styleClass="p-datatable-gridlines" responsiveLayout="scroll" [rows]="10"
  [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [loading]="isLoading">

  <!-- Caption -->
  <ng-template pTemplate="caption" let-table>
    <div class="flex justify-content-between">
      <!-- Clear Filter Button -->
      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
        (click)="clearFilter(currenciesTable)" [disabled]="!currenciesTable.filteredValue"></button>
      <!-- /Clear Filter Button -->

      <!-- Date Picker -->
      <span class="p-input-icon-left p-ml-auto">
        <p-calendar class="filter-calendar" [(ngModel)]="filterDate" [showIcon]="true" inputId="icon"
          dateFormat="yy/mm/dd" [readonlyInput]="false" (onSelect)="filterDateChanged($event)"></p-calendar>
      </span>
      <!-- /Date Picker -->
    </div>
  </ng-template>
  <!-- /Caption -->

  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="flex justify-content-between align-items-center">
          <span>Symbol waluty</span>
          <p-columnFilter matchMode="in" field="code" display="menu" [showMatchModes]="false" [showOperator]="false"
            [showAddButton]="false">
            <!-- Filter header -->
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Symbol waluty</span>
              </div>
            </ng-template>
            <!-- /Filter header -->

            <!-- Filter body -->
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="currencyCodes" placeholder="Any"
                (onChange)="filter($event.value)">
                <ng-template let-option pTemplate="item">
                  <span class="p-ml-1">{{option}}</span>
                </ng-template>
              </p-multiSelect>
            </ng-template>
            <!-- /Filter body -->

          </p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex justify-content-between align-items-center">
          <span>Waluta</span>
          <p-columnFilter type="text" field="currency" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex justify-content-between align-items-center">
          <span>Kurs waluty</span>
          <p-columnFilter type="numeric" field="mid" display="menu"></p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>
  <!-- /Header -->

  <!-- Body -->
  <ng-template pTemplate="body" let-currency>
    <tr>
      <td>{{currency.code}}</td>
      <td>{{currency.currency}}</td>
      <td>{{currency.mid}}</td>
    </tr>
  </ng-template>
  <!-- /Body -->

  <!-- Empty Message-->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3">
        <p-message severity="info" text="No record found!" styleClass="col-12 p-4">
        </p-message>
      </td>
    </tr>
  </ng-template>
  <!-- /Empty Message-->

  <!-- Paginator -->
  <ng-template pTemplate="paginatorleft">
    <p class="font-bold">Wybierz widok</p>
    <app-theme-switcher></app-theme-switcher>
  </ng-template>
  <!-- /Paginator -->
</p-table>
